
<div class="flex flex-column align-items-center justify-content-center">
  <app-todo-edit></app-todo-edit>
  <p-card header="The List" class="w-25">
    <div class="m-2 flex">
      <span class="p-float-label">
        <input
          pInputText type="text"
          placeholder="Add new task.."
          [(ngModel)]="inputBox"
          #inputBoxTask = "ngModel"
          required
        />
      </span>
      <p-button
        icon="pi pi-plus"
        class="ml-1"
        (onClick)="addTask()"
        [disabled] = "!!inputBoxTask.invalid"> <!-- !! for when the todoTask is undefined -->
      </p-button>
    </div>
    <p class="m-0">
      <p-table [value]="todos">
        <ng-template pTemplate="header">
          <tr>
            <th width="60%">Task</th>
            <th width="35%">Created at</th>
            <th width="5%">Completed</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-todo>
          <tr>
            <td>{{ todo.task }}</td>
            <td>{{ todo.created_at | date:'dd.MM.yyyy HH:mm' }}</td>

            <td><p-checkbox
              [(ngModel)]="todo.done"
              [binary]="true"
              (onChange)="updateTodo($event, todo)">
            </p-checkbox></td>
            <td>
              <p-button
                icon="pi pi-trash"
                [rounded]="true"
                styleClass="p-button-danger"
                (onClick)="deleteTask($event,todo)"
              ></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p>
  </p-card>
</div>

